In [ ]:
#1
a = 2
a = 4
a = 6
assert a + a + a == 18

In [ ]:
#2

try:
    exec(
    """ 
a = 1
_a = 2
_a = 3
2a = 4
    """
    )
except SyntaxError as e:
    print(f"Found Syntax Error at {e.lineno}: \n'{e.text.strip()}'")

Found Syntax Error at 5:
'2a = 4'

In [ ]:
#3
a = 4
b = 5


try:
    exec(
        """
print(a==b)
print(a==c)
        """
    )
except NameError:
    print("Found Name Error")

False
Found Name Error

In [ ]:
#4
a = "1"
b = 2
print(a + b)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#5

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

letters[1]

'b'

In [ ]:
#6

letters[3:6]

['d', 'e', 'f']

In [23]:
#7
letters[:3]

['a', 'b', 'c']

In [24]:
#8
letters[-2]

'i'

In [25]:
#9
letters[-3:]

['h', 'i', 'j']

In [26]:
#10
letters[::2]

['a', 'c', 'e', 'g', 'i']

In [30]:
#11
my_range = list(range(1,21))

In [32]:
#12
[10 * n for n in my_range]

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200]

In [35]:
#13
print([str(n) for n in my_range])
print(list(map(str,my_range)))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [ ]:
#14 Unique Items
a = ["1",1,"1",2]


#Approach1: set, losing order of original list
unique_items = list(set(a))
print(unique_items)


#Approach2: OrderDict, preserving ordering of the list
from collections import OrderedDict
ordered_dict = OrderedDict.fromkeys(a)
print(ordered_dict)
unique_items = list(ordered_dict)
print(unique_items)



#Approach3: plain python for loop
unique_items = []
for ele in a:
    if ele not in unique_items:
        unique_items.append(ele)

print(unique_items)

[1, 2, '1']
OrderedDict([('1', None), (1, None), (2, None)])
['1', 1, 2]
['1', 1, 2]

In [51]:
#15 Creating dictionaries

#Approach1:
my_dict = {
    "a":1,
    "b":2
}
print(my_dict)


#Approach2:
my_dict = dict(a=1,b=2)
print(my_dict)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [52]:
#16 Accessing dict values
my_dict["b"]

2

In [53]:
#17 Calculate sum of values in a dictaionary
print(sum(my_dict.values()))

3

In [54]:
#18 KeyError
try:
    name_dict = {
        "FirstName":"John",
        "LastName":"Smith"
    }

    name_dict["Smith"]
except KeyError:
    print("Can't find the key in the dictionary")

Can't find the key in the dictionary

In [55]:
#19 Adding new key to existig dict
my_dict["c"] = 3
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#20 Applying functions to dictioanry items
print(sum(my_dict.values()))

In [58]:
#21 Filter dictionary by removing items greater than 1
{k:v for k,v in my_dict.items() if v <= 1}

dict((k,v) for k,v in my_dict.items() if v <= 1)

{'a': 1}